.input {
  /* border: none !important;*/
  outline: none;
  width: 100% !important;
}

.formComp {
  margin-top: 10px !important;
  display: flex;
  justify-content: space-between;
}

.listName {
  width: calc(100% - 120px);
}
