.loginBtn {
  border: none !important;
  color: #fff;
  i {
    font-size: 20px !important;
  }
}

.facebookBtn {
  background-color: #507cc0 !important;
}

.googleBtn {
  background-color: #df492f !important;
}
